#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
}

#nav-item {
  float: left;
}

#nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-item a:hover {
  background-color: rgb(59, 61, 206);
}

@media screen and (min-width: 10em) {
  img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.banner-image {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: aquamarine;
  padding: 10px;
  border: 1px solid blue;
}

.navbar {
  padding-bottom: 10px;
}
p {
  color: black;
  font-size: 16px;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(1, minmax(auto, 200px));
  background-color: white;
  height: 50%;
  border: 2px solid black;
  text-align: left;
  justify-content: space-around;
}
h1 {
  height: 100px;
}

.banner-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: aquamarine;
  padding: 10px;
}
.about-section {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  padding: 10px;
  width: 100%;
  border: 2px solid black;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: aquamarine;
  padding: 10px;
  width: auto;
  border: 2px solid black;
}
#about-us {
  margin: 0;
  padding: 0;
  height: auto;
  width: 50%;
  border: 2px solid black;
}
#about-img {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: auto;
  width: 40%;
  border: 2px solid black;
}

.donation-form {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow: auto;
}

#form-list {
  list-style-type: none;
  padding: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  white-space: nowrap;
}
#image-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 2px solid black;
}

footer {
  margin-top: auto;
}
