#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
}

#nav-item {
  float: left;
}

#nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-item a:hover {
  background-color: rgb(59, 61, 206);
}

@media screen and (min-width: 10em) {
  img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.banner-image {
  border: 1px solid blue;
}

.navbar {
  padding-bottom: 10px;
}

.donation-form {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow: auto;
}

#form-list {
  list-style-type: none;
  padding: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  white-space: nowrap;
}

footer {
  margin-top: auto;
}
